@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SpotyfyApp: Music App Refactored</h1>
    <a asp-controller="Playlists" asp-action="Index">Playlists</a> |
    <a asp-controller="Artists" asp-action="Index">Artists</a> |
    <a asp-controller="Albums" asp-action="Index">Albums</a> |
    <a asp-controller="Songs" asp-action="Index">Songs</a>
</div>
